.sub_flow {
    .wrap_in {
        max-width: 1000px;
    }

    .flow_content {
        padding-top: 85px;
        // max-width: 900px;
        // width: calc(100% - 50px);
        // margin: auto;
        padding-bottom: 135px;

        @include media('sp') {
            padding: 40px 0 75px;
        }

        .title {
            font-size: 18px;
            margin-bottom: 65px;
            @include media('sp') {
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .flow_list {
            .flow_block {
                width: 100%;
                border-radius: 20px;
                border: 1px solid #767676;
                background-color: #F6F6F6;
                display: flex;
                padding: 35px 0;
                margin-bottom: 40px;

                @include media('sp') {
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                .block_left {
                    position: relative;
                    width: 200px;
                    text-align: center;

                    @include media('tb') {
                        width: 150px;
                    }

                    @include media('sp') {
                        width: 100%;
                    }

                    .step {
                        font-size: 18px;
                    }

                    .number {
                        font-size: 40px;
                    }

                    @include media('sp') {
                        line-height: 1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: calc(100% + 10px);
                        width: 0.5px;
                        bottom: 50%;
                        transform: translateY(50%);
                        background-color: #767676;

                        @include media('sp') {
                            width: calc(100% - 20px);
                            height: 0.5px;
                            left: 50%;
                            transform: translateX(-50%);
                            // transform: translateY(0);
                            bottom: -15px !important;


                        }
                    }
                }

                .block_right {
                    width: calc(100% - 200px);
                    padding-left: 60px;
                    padding-right: 35px;

                    @include media('tb') {
                        width: calc(100% - 150px);
                        padding-left: 40px;
                    }

                    @include media('sp') {
                        width: 100%;
                        text-align: center;
                        padding: 0 15px;
                        padding-top: 30px;
                    }

                    .block_title {
                        font-size: 22px;
                    }

                    .content {
                        font-size: 18px;
                        margin-top: 10px;
                    }

                    ._btn {
                        margin-top: 25px;
                        display: flex;
                        gap: 10px;

                        @include media('sp') {
                            justify-content: center;
                            flex-wrap: wrap;
                        }

                        &>div {
                            display: flex;
                            align-items: center;
                            background-color: #fff;
                            padding: 10px;

                            @include media('sp') {
                                width: 250px;
                            }

                            ._img {
                                width: 45px;
                                height: 45px;
                                background: var(--dark_cyan);
                                padding: 2px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 500px;

                                img {
                                    width: 30px;
                                }
                            }

                            ._txt {
                                text-align: left;
                                margin-left: 16px;
                                line-height: 1;
                                color: var(--dark_cyan);

                                .jun34 {
                                    font-size: 24px;

                                    @include media('tb') {
                                        font-size: 20px;
                                    }
                                }

                                p {
                                    font-size: 14px;
                                    margin-top: 4px;

                                    @include media('tb') {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    .white_div {
                        margin-top: 20px;
                        font-size: 14px;
                        padding: 20px;
                        background-color: #fff;
                    }
                }
            }
        }

    }
    .text_orange {
        text-align: center;
        margin-top: 60px;
    }

    .box {
        padding: 50px;
        border-radius: 16.57px;
        background: #fff;
        box-shadow: 3px 3px 5px rgba(7, 2, 3, 0.4);
        max-width: 700px;
        width: calc(100% - 50px);
        margin: auto;
        margin-top: 50px;
        @include media('sp') {
            padding: 18px;
            margin-top: 25px;
        }
        .fs_14 {
            margin-top: 25px;
        }
    }
    table {
        max-width: 700px;
        width: calc(100% - 50px);
        text-align: center;
        border-collapse: collapse;
        margin: auto;
        table-layout: fixed;
        thead {
            th{
                background-color: #EBEBEB;
            }
        }
        th, td {
            height: 80px;
            vertical-align: middle;
        }

    }
    table, td, th {
        border: 1px solid #767676;
      }
      ._tit h2 {
        @include media('sp') {
            font-size: 22px;
        }
      }
}
