.sub_waste {
    .wrap_in {
        max-width: 900px;
    }

    .waste_content {
        padding-top: 85px;
        // max-width: 900px;
        // width: calc(100% - 50px);
        // margin: auto;
        padding-bottom: 135px;

        .waste_list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0px , 1fr));
            // justify-content: space-between;
            gap: 36px;
            margin-bottom: 50px;

            @include media('sm') {
                grid-template-columns: repeat(1, minmax(0px , 1fr));
                gap: 18px;
            }

            .block {
                .block_img {
                    background-color: #EBEBEB;
                    border-radius: 20px;
                    padding: 0;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                p {
                    font-size: 20px;
                    @include media('sp') {
                        font-size: 16px;
                    }
                }
            }
        }

        .case_list {
            .case_block {
                width: 100%;
                border-radius: 20px;
                border: 1px solid #767676;
                background-color: #F6F6F6;
                display: flex;
                padding: 35px 0;
                margin-bottom: 40px;

                @include media('sp') {
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                .block_left {
                    position: relative;
                    width: 200px;
                    text-align: center;

                    @include media('tb') {
                        width: 150px;
                    }

                    @include media('sp') {
                        width: 100%;
                    }

                    .case {
                        font-size: 18px;
                    }

                    .number {
                        font-size: 40px;
                    }

                    @include media('sp') {
                        line-height: 1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: calc(100% + 10px);
                        width: 0.5px;
                        bottom: 50%;
                        transform: translateY(50%);
                        background-color: #767676;

                        @include media('sp') {
                            width: calc(100% - 20px);
                            height: 0.5px;
                            left: 50%;
                            transform: translateX(-50%);
                            // transform: translateY(0);
                            bottom: -15px !important;


                        }
                    }
                }

                .block_right {
                    width: calc(100% - 200px);
                    padding-left: 60px;
                    padding-right: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include media('tb') {
                        width: calc(100% - 150px);
                        padding-left: 40px;
                    }

                    @include media('sp') {
                        width: 100%;
                        text-align: center;
                        padding: 0 15px;
                        padding-top: 30px;
                    }

                    .block_content {
                        width: calc(100% - 75px - 15px);

                        .block_title {
                            font-size: 22px;
                        }

                        .content {
                            font-size: 18px;
                            margin-top: 10px;
                        }
                    }

                    .block_img {
                        width: 75px;
                    }
                }
            }
        }

        .care {
            display: flex;
            gap: 20px;
            width: 100%;

            @include media('sp') {
                flex-direction: column;
            }

            .care_title {
                font-size: 22px;
                border: 1px solid #767676;
                width: 200px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;

                @include media('sp') {
                    // font-size: 18px;
                    // width: 150px;
                    padding: 10px 0;
                }
            }

            .care_content {

                ul {
                    font-size: 18px;
                    list-style: disc;
                    list-style-position: outside;
                    padding-inline-start: 30px;

                    @include media('sp') {
                        padding-inline-start: 25px;
                    }

                    li span {
                        position: relative;
                        left: -10px;
                    }
                }
            }
        }

        .waste_contact {
            .contact_title {
                color: #B40019;
            }

            ._btn {
                margin-top: 25px;
                display: flex;
                gap: 20px;
                justify-content: center;

                @include media('sp') {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                &>div {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    padding: 10px;
                    border: 1px solid var(--dark_cyan);

                    @include media('sp') {
                        width: 250px;
                    }

                    ._img {
                        width: 45px;
                        height: 45px;
                        background: var(--dark_cyan);
                        padding: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 500px;

                        img {
                            width: 30px;
                        }
                    }

                    ._txt {
                        text-align: left;
                        margin-left: 16px;
                        line-height: 1;
                        color: var(--dark_cyan);

                        .jun34 {
                            font-size: 24px;

                            @include media('tb') {
                                font-size: 20px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 4px;

                            @include media('tb') {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            margin-bottom: 100px;
        }

        .smile {
            .box {
                padding: 50px 30px;
                border-radius: 16.57px;
                background: #fff;
                box-shadow: 3px 3px 5px rgba(7, 2, 3, 0.4);
                max-width: 700px;
                width: calc(100% - 50px);
                margin: auto;
                margin-top: 50px;
                font-size: 22px;

                @include media('sp') {
                    padding: 18px;
                    margin-top: 25px;
                    font-size: 18px;
                }

            }
        }
    }
}