.fashion_honka_content {
    .wrap-ttl {
        font-size: 40px;
        text-align: center;
        margin-top: 80px;

        @include media('tb') {
            font-size: 32px;
            margin-top: 60px;
        }

        @include media('sp') {
            font-size: 25px;
            margin-top: 40px;
        }
    }

    .des-top {
        h3 {
            font-size: 40px;
            text-align: center;
            margin-top: 80px;

            @include media('tb') {
                font-size: 32px;
            }

            @include media('sp') {
                font-size: 25px;
                margin-top: 40px;
            }
        }

        &>img {
            border-radius: 40px;

            @include media('sp') {
                border-radius: 20px;
            }
        }

        .year-box {
            max-width: 755px;
            border: 4px solid #ffc844;
            background-color: #ffc844;
            margin: auto;
            display: grid;
            grid-template-columns: 255px calc(100% - 255px);
            margin-top: 75px;

            @include media('sp') {
                margin-top: 30px;
                grid-template-columns: 150px calc(100% - 150px);
            }

            @include media('sm') {
                grid-template-columns: 100px calc(100% - 100px);

            }

            .box-l {
                padding: 20px 0;
                font-size: 26px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media('sp') {
                    padding: 10px 0;
                    font-size: 20px;
                }
            }

            .box-r {
                font-size: 24px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media('sp') {
                    font-size: 18px;
                }

                @include media('sm') {
                    font-size: 16px;
                }
            }

        }
    }

    .feature {
        position: relative;
        margin: 100px 0;

        @include media('sp') {
            margin: 50px 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 5%;
            left: 0;
            right: 0;
            height: 100%;
            display: block;
            background: rgba($color: #FFC844, $alpha: 0.2);
            transform: skewY(-3deg);
            transform-origin: center center;
            z-index: 0;

            @include media('sp') {
                top: 3%;
            }
        }

        &-content {
            position: relative;
            z-index: 3;

            &-blog {
                max-width: 1235px;
                margin-bottom: 85px;

                &:nth-child(odd) {
                    margin-left: 0;
                    margin-right: auto;
                }

                &:nth-child(even) {
                    margin-right: 0;
                    margin-left: auto;
                    flex-direction: row-reverse;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                display: flex;
                gap: 85px;
                align-items: center;

                @include media('lb') {
                    gap: 40px;
                    margin-bottom: 40px;
                }

                @include media('tb') {
                    gap: 20px;
                    margin-bottom: 50px;
                }

                @include media('sp') {
                    flex-direction: column !important;
                    align-items: flex-start;
                }

                img {
                    max-width: 465px;
                    border-radius: 30px;

                    @include media('lb') {
                        max-width: 400px;
                    }

                    @include media('tb') {
                        max-width: 350px;
                    }

                    @include media('sp') {
                        max-width: 100%;
                    }
                }

                .blog-right {
                    p {
                        font-size: 35px;

                        @include media('tb') {
                            font-size: 25px;
                        }
                    }

                    h3 {
                        font-size: 40px;
                        margin: 5px 0;

                        @include media('tb') {
                            font-size: 30px;
                        }
                    }

                    h5 {
                        font-size: 22px;

                        @include media('tb') {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .des-mid {
        ul {
            li {
                padding: 45px 0;
                background-image: linear-gradient(to right, #8E8E8F 50%, transparent 50%);
                background-position-y: bottom;
                background-size: 10px 1px;
                background-repeat: repeat-x;
                display: grid;
                gap: 45px;
                grid-template-columns: 220px calc(100% - 220px - 45px);

                @include media('lb') {
                    grid-template-columns: 180px calc(100% - 180px - 30px);
                    gap: 30px;
                }

                @include media('sp') {
                    grid-template-columns: repeat(1, minmax(0px, 1fr));
                    gap: 5px;
                }

                span {
                    border-radius: 30px;
                    background-color: $orange;
                    color: #fff;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;

                    @include media('tb') {
                        font-size: 20px;
                        height: 45px;
                    }

                    @include media('sp') {
                        font-size: 18px;
                    }
                }

                .content {
                    padding-top: 7px;
                    font-size: 20px;

                    @include media('tb') {
                        font-size: 18px;
                    }

                    @include media('sp') {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .intro {
        position: relative;
        padding: 150px 0;
        margin: 100px 0;

        @include media('sp') {
            padding: 100px 0;
            margin: 50px 0;
        }
        .des {
            padding-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: rgba($color: #FFC844, $alpha: 0.2);
            transform: skewY(-3deg);
            transform-origin: center center;
            z-index: 0;
        }

        .wrap {
            position: relative;
            z-index: 3;
        }

        .des-intro {


            @include media('tb') {
                padding: 75px 0;
            }

            @include media('sp') {
                padding: 50px 0;
            }

            .intro-table {
                display: grid;
                grid-template-columns: 165px calc(100% - 165px);
                border: 15px solid;

                &.top-table,
                &.bot-table {
                    .left {
                        text-align: center;

                        span {
                            margin: 0 20px;
                            position: relative;
                            z-index: 3;

                            &::after {
                                position: absolute;
                                height: 10px;
                                width: 110%;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 0px;
                                background-color: #FFE900;
                                z-index: -1;
                                content: '';
                            }
                        }

                    }

                    .right {
                        border: none;
                    }
                }

                // border-color
                &.top-table {

                    &,
                    &>div {
                        border-color: #D4D5D5 !important;
                    }
                }

                &,
                &.bot-table,
                &>div,
                .intro-table-r-content {
                    border-color: #FDCE9E !important;
                }

                // ---------------------------------------
                // left blog background-color
                &.top-table {
                    .intro-table-l {
                        background-color: #8E8E8F;
                    }
                }

                & {
                    .intro-table-l {
                        background-color: #D5D0CB;
                    }
                }

                &.bot-table {
                    .intro-table-l {
                        background-color: #ED6B00;
                    }
                }

                // ------------------------------
                @include media('lb') {
                    grid-template-columns: repeat(1, minmax(0px, 1fr));
                }

                @include media('sp') {
                    border: 10px solid;

                }

                &-l {
                    color: #fff;
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 15px solid;
                    text-align: center;

                    @include media('lb') {
                        border-bottom: 15px solid;
                        border-right: unset;
                    }

                    @include media('sp') {
                        border-bottom: 10px solid;
                        font-size: 20px;
                    }
                }

                &-r {
                    background-color: #fff;

                    &-content {
                        padding: 50px 30px;
                        display: flex;

                        @include media('sp') {
                            flex-direction: column;
                            gap: 20px;
                            padding: 30px 15px;

                        }

                        .left {
                            width: 325px;
                            font-size: 22px;

                            p {
                                font-size: 12px;
                            }

                            @include media('lb') {
                                // width: 250px;
                                font-size: 20px;
                            }

                            @include media('sp') {
                                width: 100%;
                                font-size: 18px;
                                text-align: center;
                            }
                        }

                        .right {
                            width: calc(100% - 325px);
                            padding-left: 32px;
                            font-size: 20px;
                            border-left: .25px solid #8E8E8F;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;

                            &-ttl {
                                font-size: 24px;

                                @include media('sp') {
                                    font-size: 20px;
                                }
                            }

                            @include media('lb') {
                                // width: calc(100% - 250px);
                            }

                            @include media('sp') {
                                width: 100%;
                                padding-left: 0;
                                border-top: .25px solid #8E8E8F;
                                border-left: unset;
                                padding-top: 15px;
                                font-size: 16px;
                            }
                        }

                        &:nth-child(2) {
                            border-top: 15px solid;

                            @include media('sp') {
                                border-top: 10px solid;

                            }
                        }
                    }
                }
            }

            .triangle {
                margin: 22px auto;
                width: 100px;
                display: block;
                object-fit: contain;

                @include media('sp') {
                    width: 70px;
                }
            }
        }

        .des {
            .img-des {
                margin-top: 20px;
                display: flex;
                gap: 80px;
                align-items: center;

                @include media('tb') {
                    gap: 40px;
                }

                @include media('sm') {
                    gap: 20px;
                }

                &-left {
                    text-align: center;
                    width: 145px;

                    .jun-34 {
                        font-size: 28px;

                        @include media('sp') {
                            font-size: 22px;
                        }
                    }

                    @include media('sp') {
                        width: 130px;
                    }
                }

                &-right {
                    width: calc(100% - 80px - 145px);
                    padding-left: 75px;
                    border-left: .25px solid #302D2C;

                    @include media('tb') {
                        width: calc(100% - 145px - 40px);
                        padding-left: 45px;
                    }

                    @include media('sp') {
                        width: calc(100% - 130px - 40px);
                        padding-left: 30px;
                    }

                    @include media('sm') {
                        width: calc(100% - 130px - 20px);
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .fashion-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        gap: 115px;
        margin-top: 115px;


        @include media('lb') {
            margin-top: 70px;
            gap: 60px;
        }

        @include media('sp') {
            grid-template-columns: repeat(1, minmax(0px, 1fr));
            margin-top: 45px;
        }

        .fashion-blog {
            img {
                border-radius: 40px;

                @include media('tb') {
                    border-radius: 30px;
                }
            }

            .maru-b {
                margin: 30px 0 ;
                text-align: center;
                font-size: 30px;

                @include media('tb') {
                    font-size: 25px;
                    margin: 20px 0;
                }

                @include media('sp') {
                    margin: 15px 0;
                    font-size: 22px;
                }
            }

            .jun-201 {
                font-size: 20px;

                @include media('sp') {
                    font-size: 16px;
                }
            }
        }
    }

    .fashion-des {
        margin-top: 110px;
        @include media('sp') {
            margin-top: 55px;
        }
        li {
            display: flex;
            gap: 30px;
            align-items: flex-start;
            margin-bottom: 50px;

            @include media('sp') {
                gap: 15px;
                margin-bottom: 20px;
                flex-direction: column;
            }

            .des-l {
                width: 510px;
                position: relative;
                overflow-x: hidden;
                z-index: 3;

                @include media('tb') {
                    width: 350px;
                }

                @include media('sp') {
                    width: 100%;

                }

                .maru-b {
                    font-size: 30px;
                    padding-right: 15px;
                    background-color: #fff;

                    @include media('tb') {
                        font-size: 25px;
                    }

                    @include media('sp') {
                        font-size: 18px;
                    }

                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #8E8E8F 50%, transparent 50%);
                    background-position-y: bottom;
                    background-size: 10px 1px;
                    background-repeat: repeat-x;
                    z-index: 1;
                }
            }

            .jun-201 {
                font-size: 20px;
                width: calc(100% - 510px - 30px);
                @include media('tb') {
                    width: calc(100% - 30px - 350px);
                }
                @include media('sp') {
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }

    iframe {
        aspect-ratio: 560 / 315;
        height: 100%;
        width: 100%;
    }
}