.guide_content {
    .access_content {
        @include media('tb') {
            flex-direction: column;
        }
        .access_content_right {
            @include media('tb') {
                width: 100% !important;
            }
            font-size: 20px;
           
            table {
                td {
                    vertical-align: middle;
                }
                @include media('sp') {
                    font-size: 16px !important;
                }
                &.small_table {
                    @include media('sm') {
                        width: 100% !important;
                    }
                }
                &.sm {
                    display: none;
                }
            }
            @include media('sm') {
                .sm-no {
                    display: none;
                }
                .sm {
                    display: table !important;
                    tr:nth-child(odd) {
                        background-color: #D4D5D5;
                    }
                }
            }
            .content_info {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                span {
                    margin-right: 20px;
                }
                table {
                    table-layout: fixed;
                    border-collapse: collapse;
                    width: 420px;
                    @include media('sm') {
                        width: 100%;
                    }
                    td {
                        padding: 0 0;
                    }
                }
            }
        }
    }
}