@charset "utf-8";

/* privacy */


/* header
----------------------------------------- */
.page-visual-area {
	background: url(../images/privacy/privacy_bf.jpg) center center no-repeat;
	background-size: cover;
}
.page-ttl {
	position: absolute;
	top: calc(50% + 25px - 3.8em);
}

/* contents
----------------------------------------- */
#contents {
	margin-top: 50px;
}

.intro-lead {
	margin-bottom: 40px;
	padding: 0 30px;
	font-size: 1.2rem;
	line-height: 2.2;
}
.privacy-list {
	margin-bottom: 50px;
	padding: 0 30px;
}
.privacy-list > li {
	margin-bottom: 40px;
}
.privacy-list > li:last-child {
	margin-bottom: 0;
}
.privacy-list-ttl {
	margin-bottom: 20px;
	font-size: 1.8rem;
}
.privacy-list-lead {
	margin-bottom: 20px;
	font-size: 1.2rem;
	line-height: 2.2;
}
.privacy-num-list {
	margin-bottom: 20px;
}
.privacy-num-list li {
	margin-bottom: 7px;
	text-indent: -1em;
	margin-left: 1em;
}
.privacy-contact-area {
	margin-bottom: 40px;
	padding: 0 30px;
	font-size: 1.2rem;
	line-height: 2.0;
}
.privacy-contact-area-ttl {
	margin-bottom: 12px;
	font-size: 1.3rem;
}
.privacy-contact-area-lead {
	margin-bottom: 10px;
}
.privacy-contact-area-info {
	
}





































/* tablet 560px - 959px */
@media only screen and (min-width: 560px) {


/* header
----------------------------------------- */
.page-visual-area {
	background: url(../images/privacy/privacy_bf.jpg) center center no-repeat;
	background-size: cover;
}
.page-ttl {
	position: absolute;
	top: calc(50% + 25px - 3.5em);
}


/* contents
----------------------------------------- */
#contents {
	margin-top: 80px;
}

.intro-lead {
	max-width: 680px;
	margin: 0 auto 60px;
	padding: 0 60px;
	font-size: 1.2rem;
	line-height: 2.2;
}
.privacy-list {
	max-width: 680px;
	margin: 0 auto 80px;
	padding: 0 60px;
}
.privacy-list > li {
	margin-bottom: 40px;
}
.privacy-list > li:last-child {
	margin-bottom: 0;
}
.privacy-list-ttl {
	margin-bottom: 20px;
	font-size: 1.8rem;
}
.privacy-list-lead {
	margin-bottom: 20px;
	font-size: 1.2rem;
	line-height: 2.2;
}
.privacy-num-list {
	margin-bottom: 20px;
}
.privacy-num-list li {
	margin-bottom: 7px;
	text-indent: -1em;
	margin-left: 1em;
}
.privacy-contact-area {
	max-width: 680px;
	margin: 0 auto 40px;
	padding: 0 60px;
	font-size: 1.2rem;
	line-height: 2.0;
}
.privacy-contact-area-ttl {
	margin-bottom: 12px;
	font-size: 1.3rem;
}
.privacy-contact-area-lead {
	margin-bottom: 10px;
}
.privacy-contact-area-info {
}



} /* tablet end */



















































/* PC 960px - */
@media only screen and (min-width: 960px) {

/* header
----------------------------------------- */
.page-visual-area {
	background: url(../images/privacy/privacy_bf.jpg) center center no-repeat;
	background-size: cover;
}
.page-ttl {
	position: absolute;
	top: calc(50% + 30px - 3.5em);
}


/* contents
----------------------------------------- */
#contents {
	margin-top: 95px;
}

.intro-lead {
	max-width: 760px;
	margin: 0 auto 60px;
	padding: 0 30px;
	font-size: 1.3rem;
	line-height: 2.4;
}
.privacy-list {
	max-width: 760px;
	margin: 0 auto 100px;
	padding: 0 30px;
}
.privacy-list > li {
	margin-bottom: 50px;
}
.privacy-list > li:last-child {
	margin-bottom: 0;
}
.privacy-list-ttl {
	margin-bottom: 20px;
	font-size: 2.0rem;
}
.privacy-list-lead {
	margin-bottom: 20px;
	font-size: 1.3rem;
	line-height: 2.4;
}
.privacy-num-list {
	margin-bottom: 20px;
}
.privacy-num-list li {
	margin-bottom: 5px;
	text-indent: -1em;
	margin-left: 1em;
	font-size: 1.3rem;
	line-height: 1.8;
}
.privacy-contact-area {
	max-width: 760px;
	margin: 0 auto 40px;
	padding: 0 30px;
	font-size: 1.3rem;
	line-height: 2.2;
}
.privacy-contact-area-ttl {
	margin-bottom: 15px;
	font-size: 1.4rem;
}
.privacy-contact-area-lead {
	margin-bottom: 12px;
}
.privacy-contact-area-info {
}

} /* PC end */



























































/* PC:1201px - */
@media only screen and (min-width: 1201px) {

} /* PC end */


