.mt_1 {
  margin-top: 1px;
}

.mb_1 {
  margin-bottom: 1px;
}

.ml_1 {
  margin-left: 1px;
}

.mr_1 {
  margin-right: 1px;
}

.my_1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx_1 {
  margin-left: 1px;
  margin-right: 1px;
}

.pt_1 {
  padding-top: 1px;
}

.pb_1 {
  padding-bottom: 1px;
}

.pl_1 {
  padding-left: 1px;
}

.pr_1 {
  padding-right: 1px;
}

.py_1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.px_1 {
  padding-left: 1px;
  padding-right: 1px;
}

.fs_1 {
  font-size: 1px !important;
}

.mt_2 {
  margin-top: 2px;
}

.mb_2 {
  margin-bottom: 2px;
}

.ml_2 {
  margin-left: 2px;
}

.mr_2 {
  margin-right: 2px;
}

.my_2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx_2 {
  margin-left: 2px;
  margin-right: 2px;
}

.pt_2 {
  padding-top: 2px;
}

.pb_2 {
  padding-bottom: 2px;
}

.pl_2 {
  padding-left: 2px;
}

.pr_2 {
  padding-right: 2px;
}

.py_2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px_2 {
  padding-left: 2px;
  padding-right: 2px;
}

.fs_2 {
  font-size: 2px !important;
}

.mt_3 {
  margin-top: 3px;
}

.mb_3 {
  margin-bottom: 3px;
}

.ml_3 {
  margin-left: 3px;
}

.mr_3 {
  margin-right: 3px;
}

.my_3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mx_3 {
  margin-left: 3px;
  margin-right: 3px;
}

.pt_3 {
  padding-top: 3px;
}

.pb_3 {
  padding-bottom: 3px;
}

.pl_3 {
  padding-left: 3px;
}

.pr_3 {
  padding-right: 3px;
}

.py_3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.px_3 {
  padding-left: 3px;
  padding-right: 3px;
}

.fs_3 {
  font-size: 3px !important;
}

.mt_4 {
  margin-top: 4px;
}

.mb_4 {
  margin-bottom: 4px;
}

.ml_4 {
  margin-left: 4px;
}

.mr_4 {
  margin-right: 4px;
}

.my_4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx_4 {
  margin-left: 4px;
  margin-right: 4px;
}

.pt_4 {
  padding-top: 4px;
}

.pb_4 {
  padding-bottom: 4px;
}

.pl_4 {
  padding-left: 4px;
}

.pr_4 {
  padding-right: 4px;
}

.py_4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px_4 {
  padding-left: 4px;
  padding-right: 4px;
}

.fs_4 {
  font-size: 4px !important;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.ml_5 {
  margin-left: 5px;
}

.mr_5 {
  margin-right: 5px;
}

.my_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx_5 {
  margin-left: 5px;
  margin-right: 5px;
}

.pt_5 {
  padding-top: 5px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pl_5 {
  padding-left: 5px;
}

.pr_5 {
  padding-right: 5px;
}

.py_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px_5 {
  padding-left: 5px;
  padding-right: 5px;
}

.fs_5 {
  font-size: 5px !important;
}

.mt_6 {
  margin-top: 6px;
}

.mb_6 {
  margin-bottom: 6px;
}

.ml_6 {
  margin-left: 6px;
}

.mr_6 {
  margin-right: 6px;
}

.my_6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx_6 {
  margin-left: 6px;
  margin-right: 6px;
}

.pt_6 {
  padding-top: 6px;
}

.pb_6 {
  padding-bottom: 6px;
}

.pl_6 {
  padding-left: 6px;
}

.pr_6 {
  padding-right: 6px;
}

.py_6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px_6 {
  padding-left: 6px;
  padding-right: 6px;
}

.fs_6 {
  font-size: 6px !important;
}

.mt_7 {
  margin-top: 7px;
}

.mb_7 {
  margin-bottom: 7px;
}

.ml_7 {
  margin-left: 7px;
}

.mr_7 {
  margin-right: 7px;
}

.my_7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mx_7 {
  margin-left: 7px;
  margin-right: 7px;
}

.pt_7 {
  padding-top: 7px;
}

.pb_7 {
  padding-bottom: 7px;
}

.pl_7 {
  padding-left: 7px;
}

.pr_7 {
  padding-right: 7px;
}

.py_7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.px_7 {
  padding-left: 7px;
  padding-right: 7px;
}

.fs_7 {
  font-size: 7px !important;
}

.mt_8 {
  margin-top: 8px;
}

.mb_8 {
  margin-bottom: 8px;
}

.ml_8 {
  margin-left: 8px;
}

.mr_8 {
  margin-right: 8px;
}

.my_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx_8 {
  margin-left: 8px;
  margin-right: 8px;
}

.pt_8 {
  padding-top: 8px;
}

.pb_8 {
  padding-bottom: 8px;
}

.pl_8 {
  padding-left: 8px;
}

.pr_8 {
  padding-right: 8px;
}

.py_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px_8 {
  padding-left: 8px;
  padding-right: 8px;
}

.fs_8 {
  font-size: 8px !important;
}

.mt_9 {
  margin-top: 9px;
}

.mb_9 {
  margin-bottom: 9px;
}

.ml_9 {
  margin-left: 9px;
}

.mr_9 {
  margin-right: 9px;
}

.my_9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mx_9 {
  margin-left: 9px;
  margin-right: 9px;
}

.pt_9 {
  padding-top: 9px;
}

.pb_9 {
  padding-bottom: 9px;
}

.pl_9 {
  padding-left: 9px;
}

.pr_9 {
  padding-right: 9px;
}

.py_9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.px_9 {
  padding-left: 9px;
  padding-right: 9px;
}

.fs_9 {
  font-size: 9px !important;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.mr_10 {
  margin-right: 10px;
}

.my_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx_10 {
  margin-left: 10px;
  margin-right: 10px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pl_10 {
  padding-left: 10px;
}

.pr_10 {
  padding-right: 10px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px_10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fs_10 {
  font-size: 10px !important;
}

.bg_text {
  background: #55483E;
}

.text_text {
  color: #55483E;
}

.border_text {
  border-color: #55483E;
}

.bg_softgray {
  background: #F5F5F5;
}

.text_softgray {
  color: #F5F5F5;
}

.border_softgray {
  border-color: #F5F5F5;
}

.bg_main {
  background: #d4b669;
}

.text_main {
  color: #d4b669;
}

.border_main {
  border-color: #d4b669;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(100vw / 1920);
}

@media print, screen and (max-width: 991px) {
  html {
    font-size: calc(100vw / 1620);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 1px;
    font-size: calc(100vw / 540);
  }
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: normal_text;
  font-size: 18rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16rem;
  }
}

img {
  width: 100%;
}

@font-face {
  font-family: normal_text;
  src: url(../font/yumin.ttf);
}

@font-face {
  font-family: yu-db;
  src: url(../font/yumindb.ttf);
}

@font-face {
  font-family: cambria;
  src: url(../font/cambria.ttc);
}

@font-face {
  font-family: hiragino;
  src: url(../font/hiragino-mincho-pron-w3.otf);
}

@font-face {
  font-family: segoe;
  src: url(../font/segoeui.ttf);
}

@font-face {
  font-family: gothic;
  src: url(../font/YuGothB.ttc);
}

.wrap {
  max-width: 1500rem;
  width: calc(100% - 80rem);
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .wrap {
    width: calc(100% - 40rem);
  }
}

.logo {
  font-size: 32rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 20;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 20rem;
  }
}

.logo:hover {
  scale: 1.1;
}

.sec-jp {
  font-size: 50rem;
  margin-bottom: 15rem;
  font-family: hiragino;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .sec-jp {
    text-align: center;
    font-size: 30rem;
    margin-bottom: 3rem;
  }
}

.sec-en {
  font-size: 25rem;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .sec-en {
    text-align: center;
    font-size: 20rem;
  }
}

.banner-ttl {
  font-size: 110rem;
  color: #454d57;
  text-align: right;
}

.news-ttl {
  font-size: 20rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 768px) {
  .news-ttl {
    font-size: 16rem;
    margin-bottom: 5rem;
  }
}

.news-content {
  font-size: 14rem;
}

@media only screen and (max-width: 768px) {
  .news-content {
    font-size: 12rem;
  }
}

.btn {
  font-size: 26rem;
  width: 260rem;
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  background: #454545;
  border: 2px solid #fff;
  margin: auto;
  color: #fff;
  margin-top: 80rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  border: 2px solid #454545;
  color: #454545;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 20rem;
    margin-top: 40rem;
    height: 50rem;
    width: 200rem;
  }
}

.triangle {
  width: 0;
  height: 0;
  border: 10rem solid transparent;
  border-bottom: 10rem solid #fff;
  border-right: 10rem solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .triangle {
    border: 5rem solid transparent;
    border-bottom: 5rem solid #fff;
    border-right: 5rem solid #fff;
  }
}

.primary {
  color: #2C3138;
}

.privacy-content {
  width: 1370rem;
  padding: 135rem 0;
  margin: auto;
}

@media print, screen and (max-width: 991px) {
  .privacy-content {
    width: 1300rem;
  }
}

@media only screen and (max-width: 768px) {
  .privacy-content {
    width: 100%;
    padding: 79rem 0;
  }
}

.privacy-content .top {
  padding: 55rem 45rem;
  font-size: 20rem;
  font-family: yu-db;
  background: #f7f7f7;
  margin-bottom: 90rem;
}

@media only screen and (max-width: 768px) {
  .privacy-content .top {
    font-size: 15rem;
    padding: 30rem 25rem;
    margin-bottom: 40rem;
  }
}

.privacy-content ul li {
  padding: 0 40rem;
  margin-bottom: 40rem;
}

@media only screen and (max-width: 768px) {
  .privacy-content ul li {
    padding: 0 20rem;
    margin-bottom: 20rem;
  }
}

.privacy-content ul li .privacy-head {
  font-size: 23rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .privacy-content ul li .privacy-head {
    font-size: 18rem;
  }
}

.privacy-content ul li .privacy-head:before {
  height: 100%;
  width: 6rem;
  background: #2C3138;
  content: '';
  position: absolute;
  top: 0;
  left: -40rem;
}

@media only screen and (max-width: 768px) {
  .privacy-content ul li .privacy-head:before {
    width: 4rem;
    left: -20rem;
  }
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.tc {
  display: block !important;
}

.tb {
  display: none !important;
}

.lb {
  display: none !important;
}

.lc {
  display: none !important;
}

@media print, screen and (min-width: 1281px) {
  .lc {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media print, screen and (max-width: 1280px) {
  .lb {
    display: block !important;
  }
}

@media print, screen and (max-width: 991px) {
  .tc {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

@media print, screen and (min-width: 769px) {
  .pc-hide {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2 {
  line-height: 1.2;
}

h3,
h4 {
  line-height: 1.5;
}

h5,
h6 {
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[hidden] {
  display: none !important;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

header {
  font-family: yu-db;
  color: #fff;
  position: relative;
}

header .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 768px) {
  header .container {
    padding: 20rem;
  }
}

header .container .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 440rem;
}

@media print, screen and (max-width: 991px) {
  header .container .banner-img {
    width: 390rem;
  }
}

@media only screen and (max-width: 768px) {
  header .container .banner-img {
    width: 280rem;
  }
}

header .container .nav-link {
  padding: 40rem 0 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50rem;
  font-size: 19rem;
  background-color: #2C3138;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1150rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media print, screen and (max-width: 991px) {
  header .container .nav-link {
    width: 980rem;
  }
}

header .container .nav-link li {
  position: relative;
  text-align: center;
}

header .container .nav-link li:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container .nav-link li:hover:after {
  width: 100%;
}

header .container .logo {
  padding-left: 20rem;
}

@media only screen and (max-width: 768px) {
  header .container .logo {
    padding-left: 0;
  }
}

header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .banner .left {
  padding-left: clamp(40rem, 40rem, calc((100% - 1500rem) / 2));
  padding-left: calc((100% - 1500rem) / 2);
}

@media print, screen and (max-width: 991px) {
  header .banner .left {
    padding-left: 40rem;
  }
}

@media only screen and (max-width: 768px) {
  header .banner .left {
    padding-left: 0;
    width: 100%;
  }
}

header .banner .right {
  background-color: #2C3138;
  width: 1150rem;
  padding-top: 120rem;
}

@media print, screen and (max-width: 991px) {
  header .banner .right {
    width: 980rem;
    padding-top: 100rem;
  }
}

.menu {
  position: fixed;
  width: 100%;
  right: -100%;
  background-color: #2C3138;
  color: #fff;
  top: -0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100vh;
  z-index: 15;
}

.menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
}

.menu ul li {
  margin: 25px 0;
}

.menu.active {
  right: 0;
}

.nav-back {
  width: 70rem;
  height: 70rem;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2C3138;
  z-index: 10;
}

#hamburger {
  position: fixed;
  width: 30rem;
  height: 20rem;
  background: none;
  outline: none;
  border: none;
  z-index: 20;
  right: 20rem;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0;
}

#hamburger span:nth-child(2) {
  top: 50%;
}

#hamburger span:nth-child(3) {
  top: 100%;
}

#hamburger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

body.top_page {
  background-color: #2C3138;
}

main.top {
  background-color: #2C3138;
}

main.top .fv {
  padding-top: 100rem;
}

@media only screen and (max-width: 768px) {
  main.top .fv {
    padding-top: 50rem;
  }
}

main.top .fv .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  main.top .fv .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 45rem;
  }
}

main.top .fv .wrap .left,
main.top .fv .wrap .right {
  max-width: 800rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.top .fv .wrap .left .ttl,
main.top .fv .wrap .right .ttl {
  font-size: 115rem;
  font-family: cambri;
  position: relative;
  z-index: 10;
  color: #fff;
}

@media print, screen and (max-width: 1280px) {
  main.top .fv .wrap .left .ttl,
  main.top .fv .wrap .right .ttl {
    font-size: 85rem;
  }
}

@media only screen and (max-width: 768px) {
  main.top .fv .wrap .left .ttl,
  main.top .fv .wrap .right .ttl {
    font-size: 50rem;
  }
}

main.top .fv .wrap .left .img_div,
main.top .fv .wrap .right .img_div {
  position: relative;
  font-family: hiragino;
}

main.top .fv .wrap .left .img_div p,
main.top .fv .wrap .right .img_div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 20rem;
}

@media only screen and (max-width: 768px) {
  main.top .fv .wrap .left .img_div p,
  main.top .fv .wrap .right .img_div p {
    padding: 10rem;
  }
}

main.top .fv .wrap .left {
  margin-right: -85rem;
}

@media only screen and (max-width: 768px) {
  main.top .fv .wrap .left {
    margin: auto;
  }
}

main.top .fv .wrap .left .img_div {
  font-size: 45rem;
}

@media print, screen and (max-width: 991px) {
  main.top .fv .wrap .left .img_div {
    font-size: 25rem;
  }
}

main.top .fv .wrap .right {
  margin-left: -85rem;
  margin-top: 145rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (max-width: 768px) {
  main.top .fv .wrap .right {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.top .fv .wrap .right .img_div {
  font-size: 28rem;
}

@media print, screen and (max-width: 991px) {
  main.top .fv .wrap .right .img_div {
    font-size: 20rem;
  }
}

main.top .sale {
  padding-top: 115rem;
  padding-bottom: 100rem;
}

@media only screen and (max-width: 768px) {
  main.top .sale {
    padding: 65rem 0 50rem;
  }
}

main.top .sale .info-list {
  margin-top: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80rem;
}

@media print, screen and (max-width: 991px) {
  main.top .sale .info-list {
    margin-top: 70rem;
    gap: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  main.top .sale .info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50rem;
    gap: 30rem;
  }
}

main.top .sale .info-list .blog {
  background-color: #454545;
  color: #fff;
  position: relative;
  max-width: 450rem;
  margin: auto;
}

main.top .sale .info-list .blog .des {
  padding: 10rem 15rem 15rem;
}

main.top .sale .info-list .blog .des > div {
  position: relative;
}

main.top .sale .info-list .blog .des .date {
  font-size: 14rem;
  margin-top: 15rem;
}

main.top .sale .info-list .blog:hover .triangle {
  right: -5rem;
}

main.top .news {
  background: url(../img/index/news.png) no-repeat center center;
  background-size: cover;
  padding: 115rem 0 65rem;
}

main.top .news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30rem;
}

@media print, screen and (max-width: 1280px) {
  main.top .news .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main.top .news .container .right {
  width: 1000rem;
}

@media print, screen and (max-width: 1280px) {
  main.top .news .container .right {
    width: 100%;
    max-width: 1000rem;
  }
}

main.top .news .container .right li {
  color: #fff;
  padding: 40rem 0 15rem;
  border-bottom: 1px solid #fff;
  position: relative;
  padding-right: 30rem;
  font-family: yu-db;
}

main.top .news .container .right li:first-child {
  padding-top: 0;
}

main.top .news .container .right li .news-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main.top .news .container .right li:after {
  position: absolute;
  content: "";
  bottom: 20rem;
  width: 20rem;
  height: 16rem;
  display: block;
  right: 5rem;
  background: url(../img/common/link-arrow.svg) no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  main.top .news .container .right li:after {
    width: 15rem;
    height: 12rem;
  }
}

main.top .news .container .right li:hover:after {
  bottom: 20rem;
  scale: 1.1;
}

main.top .construction {
  padding: 95rem 0;
}

@media only screen and (max-width: 768px) {
  main.top .construction {
    padding: 45rem 0;
  }
}

main.top .construction .img-slick {
  margin-top: 55rem;
}

@media only screen and (max-width: 768px) {
  main.top .construction .img-slick {
    margin-top: 35rem;
  }
}

main.top .construction .img-slick .slick-slide {
  margin: 0 15rem;
}

@media only screen and (max-width: 768px) {
  main.top .construction .img-slick .slick-slide {
    margin: 0 8rem;
  }
}

main.top .construction .img-slick .slick-dots {
  bottom: -55rem;
}

@media only screen and (max-width: 768px) {
  main.top .construction .img-slick .slick-dots {
    bottom: -45rem;
  }
}

main.top .construction .img-slick .slick-dots li {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

@media only screen and (max-width: 768px) {
  main.top .construction .img-slick .slick-dots li {
    width: 10rem;
    height: 10rem;
  }
}

main.top .construction .img-slick .slick-dots li.slick-active {
  background-color: #fff;
}

main.top .series {
  padding: 120rem 0 155rem;
  background: url(../img/index/news.png) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  main.top .series {
    padding: 60rem 0 75rem;
  }
}

@media print, screen and (max-width: 991px) {
  main.top .series .sec-jp,
  main.top .series .sec-en {
    text-align: center;
  }
}

main.top .series .series-list {
  margin-top: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30rem;
}

@media only screen and (max-width: 768px) {
  main.top .series .series-list {
    margin-top: 40rem;
  }
}

main.top .series .series-list .blog {
  width: 705rem;
  margin: auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #303030;
}

@media print, screen and (max-width: 991px) {
  main.top .series .series-list .blog {
    max-width: 900rem;
    width: 100%;
  }
}

main.top .series .series-list .blog .content {
  width: calc(100% - 185rem);
  padding: 20rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  main.top .series .series-list .blog .content {
    width: calc(100% - 150rem);
    padding: 10rem;
  }
}

main.top .series .series-list .blog .content .triangle {
  right: 15rem;
  bottom: 15rem;
}

main.top .series .series-list .blog img {
  width: 185rem;
}

@media only screen and (max-width: 768px) {
  main.top .series .series-list .blog img {
    width: 150rem;
  }
}

main.company .banner {
  padding-left: clamp(20rem, calc((100% - 1500rem) / 2), 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.company .banner .sec-jp,
main.company .banner .sec-en {
  color: #2C3138;
}

main.company .banner .left {
  background-color: #fff;
}

main.company .banner .right {
  font-size: 110rem;
  font-family: yu-db;
  color: #454d57;
  position: relative;
  line-height: 1;
}

main.company .banner .right .rect {
  position: absolute;
  height: 345rem;
  width: 1100rem;
  right: 0;
  bottom: 0;
  background-color: #2C3138;
  content: "";
  z-index: -1;
}

main.company .info {
  font-family: gothic;
  padding: 205rem 0 150rem;
}

@media only screen and (max-width: 768px) {
  main.company .info {
    padding: 100rem 0 75rem;
  }
}

main.company .info .wrap {
  max-width: 995rem;
}

main.company .info .wrap table {
  border: none;
}

main.company .info .wrap table tr td {
  padding: 20rem 0;
  padding-left: 20rem;
}

@media only screen and (max-width: 768px) {
  main.company .info .wrap table tr td {
    padding: 10rem 0;
    padding-left: 10rem;
  }
}

main.company .info .wrap table tr td:first-child {
  width: 305rem;
  border-bottom: 1px solid #2C3138;
}

@media only screen and (max-width: 768px) {
  main.company .info .wrap table tr td:first-child {
    width: 250rem;
  }
}

main.company .info .wrap table tr td:last-child {
  width: 690rem;
  border-bottom: 1px solid #cccccc;
}

main.company .info .wrap ul li {
  padding: 20rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

main.company .info .wrap ul li span {
  display: block;
  padding-left: 30rem;
  padding-bottom: 20rem;
}

main.company .info .wrap ul li span:first-child {
  width: 305rem;
  border-bottom: 1px solid #2C3138;
}

main.company .info .wrap ul li span:last-child {
  width: 690rem;
  border-bottom: 1px solid #cccccc;
}

main.company .access {
  padding-bottom: 350rem;
}

@media only screen and (max-width: 768px) {
  main.company .access {
    padding-bottom: 150rem;
  }
}

main.company .access .wrap p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15rem;
  margin-bottom: 60rem;
}

@media only screen and (max-width: 768px) {
  main.company .access .wrap p {
    margin-bottom: 30rem;
    gap: 10rem;
  }
}

main.company .access .wrap p .map {
  width: 14rem;
}

@media only screen and (max-width: 768px) {
  main.company .access .wrap p .map {
    width: 10rem;
  }
}

main.company .access .wrap p .en {
  font-size: 20rem;
}

@media only screen and (max-width: 768px) {
  main.company .access .wrap p .en {
    font-size: 16rem;
  }
}

main.company .access .wrap p .jp {
  font-family: hiragino;
  font-size: 24rem;
  margin-right: 10rem;
}

@media only screen and (max-width: 768px) {
  main.company .access .wrap p .jp {
    font-size: 20rem;
    margin-right: 5rem;
  }
}

main.company .access .wrap .map_img {
  width: 100%;
  height: 850rem;
}

@media print, screen and (max-width: 991px) {
  main.company .access .wrap .map_img {
    height: 600rem;
  }
}

@media only screen and (max-width: 768px) {
  main.company .access .wrap .map_img {
    height: 400rem;
  }
}

main.about .fv {
  position: relative;
}

main.about .fv .right-box {
  position: absolute;
  width: 400rem;
  height: 590rem;
  top: 0;
  right: -0%;
  background-color: #2C3138;
  z-index: -1;
}

main.about .fv .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30rem;
}

main.about .fv .ttl .jp {
  font-size: 50rem;
  font-family: hiragino;
}

@media only screen and (max-width: 768px) {
  main.about .fv .ttl .jp {
    font-size: 25rem;
  }
}

main.about .fv .ttl .en {
  font-size: 25rem;
}

@media only screen and (max-width: 768px) {
  main.about .fv .ttl .en {
    font-size: 20rem;
  }
}

main.about .fv .content {
  font-size: 30rem;
}

@media only screen and (max-width: 768px) {
  main.about .fv .content {
    font-size: 18rem;
  }
}

main.about .fv .fv-top {
  position: relative;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-top {
    margin-bottom: 180rem;
  }
}

main.about .fv .fv-top .left {
  position: absolute;
  width: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  color: #2C3138;
  padding-bottom: 40rem;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-top .left {
    bottom: -60%;
    top: unset;
    width: calc(100% - 80rem);
    padding: 30rem;
    -webkit-transform: unset;
            transform: unset;
  }
}

main.about .fv .fv-top img {
  width: calc(50% + 250rem);
  margin-left: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-top img {
    width: calc(100% - 40rem);
  }
}

main.about .fv .fv-bot {
  margin-top: -50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-bot {
    position: relative;
    margin: 0;
    margin-bottom: 180rem;
  }
}

main.about .fv .fv-bot > div {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-bot > div {
    width: calc(100% - 80rem);
  }
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-bot .left {
    width: calc(100% - 40rem);
  }
}

main.about .fv .fv-bot .right {
  padding-left: 160rem;
  margin-top: 60rem;
}

@media only screen and (max-width: 768px) {
  main.about .fv .fv-bot .right {
    margin-top: 0;
    position: absolute;
    bottom: -50%;
    width: calc(100% - 80rem);
    padding: 30rem;
    right: 0;
    background-color: #fff;
  }
}

main.about .value {
  background: url(../img/about/value.png);
  padding: 115rem 0 170rem;
}

@media only screen and (max-width: 768px) {
  main.about .value {
    padding: 60rem 0;
  }
}

main.about .value .sec-jp {
  font-size: 70rem;
}

@media only screen and (max-width: 768px) {
  main.about .value .sec-jp {
    font-size: 35rem;
  }
}

main.about .value h2 {
  text-align: center;
}

main.about .value .value-content {
  max-width: 1240rem;
  margin: auto;
  margin-top: 125rem;
}

@media only screen and (max-width: 768px) {
  main.about .value .value-content {
    margin-top: 60rem;
  }
}

main.about .value .value-content li {
  background-color: #2C3138;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35rem 10rem;
  gap: 45rem;
  color: #fff;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 768px) {
  main.about .value .value-content li {
    padding: 15rem 10rem;
    margin-bottom: 10rem;
    gap: 25rem;
  }
}

main.about .value .value-content li:last-child {
  margin-bottom: 0;
}

main.about .value .value-content li .left {
  width: 370rem;
  text-align: center;
  font-size: 25rem;
  border-right: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
  main.about .value .value-content li .left {
    font-size: 20rem;
    width: 180rem;
  }
}

main.about .construction {
  background-color: #2C3138;
  padding: 95rem 0;
}

@media only screen and (max-width: 768px) {
  main.about .construction {
    padding: 45rem 0;
  }
}

main.about .construction .img-slick {
  margin-top: 55rem;
}

@media only screen and (max-width: 768px) {
  main.about .construction .img-slick {
    margin-top: 35rem;
  }
}

main.about .construction .img-slick .slick-slide {
  margin: 0 15rem;
}

@media only screen and (max-width: 768px) {
  main.about .construction .img-slick .slick-slide {
    margin: 0 8rem;
  }
}

main.about .construction .img-slick .slick-dots {
  bottom: -55rem;
}

@media only screen and (max-width: 768px) {
  main.about .construction .img-slick .slick-dots {
    bottom: -45rem;
  }
}

main.about .construction .img-slick .slick-dots li {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

@media only screen and (max-width: 768px) {
  main.about .construction .img-slick .slick-dots li {
    width: 10rem;
    height: 10rem;
  }
}

main.about .construction .img-slick .slick-dots li.slick-active {
  background-color: #fff;
}

main.pick .sale {
  padding-top: 115rem;
  padding-bottom: 200rem;
}

@media only screen and (max-width: 768px) {
  main.pick .sale {
    padding: 65rem 0 100rem;
  }
}

main.pick .sale .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.pick .sale .info-list.second {
  margin-top: 175rem;
}

@media only screen and (max-width: 768px) {
  main.pick .sale .info-list.second {
    margin-top: 80rem;
  }
}

@media only screen and (max-width: 768px) {
  main.pick .sale .info-list {
    gap: 10rem;
  }
}

main.pick .sale .info-list .blog {
  background-color: #454545;
  color: #fff;
  position: relative;
  max-width: 450rem;
  width: calc((100% - 160rem) / 3);
}

@media only screen and (max-width: 768px) {
  main.pick .sale .info-list .blog {
    width: calc((100% - 15rem) / 2);
  }
}

main.pick .sale .info-list .blog .des {
  padding: 10rem 15rem 15rem;
}

@media only screen and (max-width: 768px) {
  main.pick .sale .info-list .blog .des {
    font-size: 14rem;
    padding: 10rem;
  }
}

main.pick .sale .info-list .blog .des > div {
  position: relative;
}

main.pick .sale .info-list .blog .des .date {
  font-size: 14rem;
  margin-top: 15rem;
}

@media only screen and (max-width: 768px) {
  main.pick .sale .info-list .blog .des .date {
    margin-top: 10rem;
  }
}

main.pick .sale .info-list .blog:hover .triangle {
  right: -5rem;
}

main.line .sale {
  padding-top: 115rem;
  padding-bottom: 200rem;
}

@media only screen and (max-width: 768px) {
  main.line .sale {
    padding: 65rem 0 100rem;
  }
}

main.line .sale .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.line .sale .info-list.second {
  margin-top: 175rem;
}

@media only screen and (max-width: 768px) {
  main.line .sale .info-list.second {
    margin-top: 80rem;
  }
}

@media only screen and (max-width: 768px) {
  main.line .sale .info-list {
    gap: 10rem;
  }
}

main.line .sale .info-list .blog {
  background-color: #454545;
  color: #fff;
  position: relative;
  max-width: 450rem;
  width: calc((100% - 160rem) / 3);
}

@media only screen and (max-width: 768px) {
  main.line .sale .info-list .blog {
    width: calc((100% - 15rem) / 2);
  }
}

main.line .sale .info-list .blog .des {
  padding: 10rem 15rem 15rem;
}

@media only screen and (max-width: 768px) {
  main.line .sale .info-list .blog .des {
    font-size: 14rem;
    padding: 10rem;
  }
}

main.line .sale .info-list .blog .des > div {
  position: relative;
}

main.line .sale .info-list .blog .des .date {
  font-size: 14rem;
  margin-top: 15rem;
}

@media only screen and (max-width: 768px) {
  main.line .sale .info-list .blog .des .date {
    margin-top: 10rem;
  }
}

main.line .sale .info-list .blog:hover .triangle {
  right: -5rem;
}

main.contact .contact-content {
  padding-bottom: 200rem;
  font-family: yu-db;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content {
    padding-bottom: 80rem;
  }
}

main.contact .contact-content .submit-btn {
  width: 350rem;
  background-color: #2C3138;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100rem;
  margin: auto;
  color: #fff;
  font-size: 24rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .submit-btn {
    width: 150rem;
    height: 50rem;
    font-size: 15rem;
  }
}

main.contact .contact-content .top {
  width: 1140rem;
  height: 155rem;
  margin: auto;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 175rem;
  margin-bottom: 240rem;
  gap: 100rem;
  font-family: yu-db;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .top {
    width: 100%;
    height: 80rem;
    gap: 50rem;
    margin-top: 80rem;
    margin-bottom: 120rem;
  }
}

main.contact .contact-content .top .number {
  font-size: 40rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .top .number {
    font-size: 20rem;
  }
}

main.contact .contact-content .top .number::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #707070;
  top: 0;
  right: -50rem;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .top .number::after {
    right: -25rem;
  }
}

main.contact .contact-content .top .time {
  font-size: 20rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .top .time {
    font-size: 12rem;
  }
}

main.contact .contact-content .contact-form {
  width: 1140rem;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form {
    width: 100%;
  }
}

main.contact .contact-content .contact-form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30rem;
  width: 100%;
  margin-bottom: 35rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form ul li {
    margin-bottom: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10rem;
  }
}

main.contact .contact-content .contact-form ul li .left {
  width: 400rem;
  background-color: #F7F7F7;
  padding: 35rem 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20rem;
  font-family: yu-db;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form ul li .left {
    width: 250rem;
    margin-right: auto;
    padding: 10rem 10rem;
    font-size: 16rem;
  }
}

main.contact .contact-content .contact-form ul li .left .category {
  background-color: #CCCCCC;
  color: #fff;
  padding: 10rem 10rem 5rem;
  line-height: 1;
}

main.contact .contact-content .contact-form ul li .left .category.need {
  background-color: #2C3138;
}

main.contact .contact-content .contact-form ul li .form-content {
  width: calc(100% - 430rem);
  padding-top: 20rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form ul li .form-content {
    width: 100%;
    padding-top: 0;
  }
}

main.contact .contact-content .contact-form ul li .form-content input {
  height: 60rem;
  border: 1px solid #c9c9c9;
  width: 100%;
  padding: 0 10rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form ul li .form-content input {
    height: 40rem;
  }
}

main.contact .contact-content .contact-form ul li .form-content textarea {
  width: 100%;
  padding: 10rem;
  border: 1px solid #c9c9c9;
  height: 185rem;
}

main.contact .contact-content .contact-form ._btn {
  margin-top: 90rem;
  margin-bottom: 300rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .contact-form ._btn {
    margin-top: 45rem;
    margin-bottom: 100rem;
  }
}

main.contact .contact-content .thanks {
  font-size: 40rem;
  text-align: center;
  margin-bottom: 80rem;
}

@media only screen and (max-width: 768px) {
  main.contact .contact-content .thanks {
    font-size: 22rem;
  }
}

.news-list {
  width: 1340rem;
  margin: auto;
  padding-top: 160rem;
  padding-bottom: 300rem;
}

@media only screen and (max-width: 768px) {
  .news-list {
    padding-top: 80rem;
    padding-bottom: 150rem;
    width: 100%;
  }
}

.news-list ul li {
  border-bottom: 1px solid #2C3138;
  margin-bottom: 60rem;
}

@media only screen and (max-width: 768px) {
  .news-list ul li {
    margin-bottom: 30rem;
  }
}

.news-list ul li:last-child {
  margin-bottom: 0;
}

.news-list ul li a {
  position: relative;
}

.news-list ul li a:after {
  position: absolute;
  content: "";
  bottom: 10rem;
  width: 17rem;
  height: 17rem;
  display: block;
  right: 5px;
  background: url(../img/common/black-arrow.png) no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .news-list ul li a:after {
    width: 15rem;
    height: 12rem;
  }
}

.news-list ul li a:hover:after {
  scale: 1.1;
}

.news-list ul li a .date {
  font-family: gothic;
}

.news-list ul li a span:not(.date) {
  font-size: 28rem;
  font-family: yu-db;
  width: 925rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .news-list ul li a span:not(.date) {
    width: calc(100% - 50px);
    font-size: 16rem;
  }
}

.map-content {
  padding-top: 140rem;
  padding-left: 180rem;
  padding-bottom: 500rem;
  font-size: 20rem;
}

@media only screen and (max-width: 768px) {
  .map-content {
    padding: 70rem 70rem 250rem;
    font-size: 16rem;
  }
}

.map-content a, .map-content span {
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-bottom: 50rem;
  display: block;
}

@media only screen and (max-width: 768px) {
  .map-content a, .map-content span {
    margin-bottom: 30rem;
  }
}

.map-content > div {
  padding-left: 105rem;
}

@media only screen and (max-width: 768px) {
  .map-content > div {
    padding-left: 50rem;
  }
}

.map-content > div > div {
  padding-left: 85rem;
}

@media only screen and (max-width: 768px) {
  .map-content > div > div {
    padding-left: 40rem;
  }
}

main.partner {
  background: url(../img/partner/fv.png) center center no-repeat;
  background-size: cover;
  margin-top: 285rem;
}

@media only screen and (max-width: 768px) {
  main.partner {
    margin-top: 140rem;
  }
}

main.partner .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 400rem;
}

@media only screen and (max-width: 768px) {
  main.partner .wrap {
    gap: 20rem;
    padding-bottom: 200rem;
  }
}

@media only screen and (max-width: 560px) {
  main.partner .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.partner .wrap div {
  width: 550rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  main.partner .wrap div {
    width: calc(50% - 10rem);
  }
}

@media only screen and (max-width: 560px) {
  main.partner .wrap div {
    width: 100%;
  }
}

main.partner .wrap div .des {
  width: calc(100% - 200rem);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  main.partner .wrap div .des {
    width: calc(100% - 40rem);
    font-size: 14rem;
  }
}

main.property {
  padding-top: 260rem;
  padding-bottom: 500rem;
}

@media only screen and (max-width: 768px) {
  main.property {
    padding-top: 100rem;
    padding-bottom: 200rem;
  }
}

main.property .wrap .property-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  main.property .wrap .property-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.property .wrap .property-blog .blog {
  width: 50%;
  border-bottom: 1px solid #707070;
  padding-bottom: 35rem;
  padding-top: 35rem;
}

@media only screen and (max-width: 768px) {
  main.property .wrap .property-blog .blog {
    width: 100%;
    padding: 20rem 0;
  }
}

main.property .wrap .property-blog .blog .content {
  padding: 0 70rem 25rem;
  border-left: 1px solid #2c3138;
  border-right: 1px solid #2c3138;
}

@media only screen and (max-width: 768px) {
  main.property .wrap .property-blog .blog .content {
    padding: 0 20rem 10rem;
  }
}

main.property .wrap .property-blog .blog .content ul {
  margin-top: 20rem;
  list-style: circle;
  padding-left: 20rem;
}

main.property .wrap .property-blog .blog:nth-child(even) .content {
  border-left: none;
}

@media only screen and (max-width: 768px) {
  main.property .wrap .property-blog .blog:nth-child(even) .content {
    border-left: 1px solid #2c3138;
  }
}

.detail {
  padding-top: 185rem;
  padding-bottom: 300rem;
}

@media only screen and (max-width: 768px) {
  .detail {
    padding-top: 70rem;
    padding-bottom: 100rem;
  }
}

.detail .wrap {
  position: relative;
  padding: 100rem 195rem;
  color: #fff;
  background-color: #2C3138;
}

@media only screen and (max-width: 768px) {
  .detail .wrap {
    padding: 20rem 20rem;
  }
}

.detail .wrap .detail_img {
  position: absolute;
  top: -80rem;
  left: -80rem;
  width: 525rem;
}

@media print, screen and (max-width: 991px) {
  .detail .wrap .detail_img {
    top: -40rem;
    left: -40rem;
  }
}

@media only screen and (max-width: 768px) {
  .detail .wrap .detail_img {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
  }
}

.detail .wrap .top {
  padding-left: 405rem;
  font-family: yu-db;
  margin-bottom: 120rem;
}

@media only screen and (max-width: 768px) {
  .detail .wrap .top {
    padding-left: 0;
    margin-bottom: 40rem;
    margin-top: 10rem;
  }
}

.detail .wrap .top .date {
  margin-bottom: 25rem;
}

.detail .wrap .top .detail_ttl {
  font-size: 38rem;
}

@media only screen and (max-width: 768px) {
  .detail .wrap .top .detail_ttl {
    font-size: 25rem;
  }
}

.detail .wrap .content {
  font-size: 20rem;
}

@media only screen and (max-width: 768px) {
  .detail .wrap .content {
    font-size: 15rem;
  }
}

.detail .wrap .btn {
  background-color: #2C3138;
}

.detail .wrap .btn:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #2C3138;
}

.foot {
  padding: 130rem 0 140rem;
  background: url(../img/common/footer.png) center center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .foot {
    padding: 65rem 0 70rem;
  }
}

.foot .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50rem;
}

@media only screen and (max-width: 768px) {
  .foot .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25rem;
  }
}

.foot .wrap > div {
  max-width: 650rem;
  width: calc(50% - 25rem);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .foot .wrap > div {
    width: 100%;
    margin: auto;
  }
}

.foot .wrap > div .jp {
  font-size: 28rem;
  font-family: yu-db;
}

.foot .wrap > div .en {
  font-size: 24rem;
}

@media print, screen and (max-width: 991px) {
  .foot .wrap > div .jp {
    font-size: 25rem;
  }
  .foot .wrap > div .en {
    font-size: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .foot .wrap > div .jp {
    font-size: 20rem;
  }
  .foot .wrap > div .en {
    font-size: 16rem;
  }
}

.foot .wrap > div ul li {
  border-bottom: 1px solid #fff;
  padding-top: 50rem;
  position: relative;
}

.foot .wrap > div ul li:after {
  position: absolute;
  content: "";
  bottom: 10rem;
  width: 20rem;
  height: 16rem;
  display: block;
  right: 5px;
  background: url(../img/common/link-arrow.svg) no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (max-width: 768px) {
  .foot .wrap > div ul li:after {
    width: 15rem;
    height: 12rem;
  }
}

.foot .wrap > div ul li:hover:after {
  scale: 1.2;
}

@media only screen and (max-width: 768px) {
  .foot .wrap > div ul li {
    padding-top: 25rem;
  }
}

.foot .wrap > div ul li:first-child {
  padding-top: 0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 75rem 0 45rem;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 30rem;
  }
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  footer .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20rem;
  }
}

footer .wrap .copy {
  font-family: segoe;
  font-size: 20rem;
  text-align: right;
}

@media print, screen and (max-width: 991px) {
  footer .wrap .copy {
    font-size: 16rem;
  }
}

@media only screen and (max-width: 768px) {
  footer .wrap .copy {
    text-align: center;
    font-size: 14rem;
  }
}
/*# sourceMappingURL=style.css.map */