.map-content {
    padding-top: 140rem;
    padding-left: 180rem;
    padding-bottom: 500rem;
    font-size: 20rem;
    @include media('sp') {
        padding: 70rem 70rem 250rem;
        font-size: 16rem;
    }
    a, span {
        text-decoration: underline;
        text-underline-offset: 5px;
        margin-bottom: 50rem;
        display: block;
        @include media('sp') {
            margin-bottom: 30rem;
        }
    }
    
    &>div {
        padding-left: 105rem;
        @include media('sp') {
            padding-left: 50rem;
        }
        &>div {
            padding-left: 85rem;
            @include media('sp') {
                padding-left: 40rem;
            }
        }
    }
}